// app global css in SCSS form
.hawai{
    width: 55%;
    float: left;
}
.italiana{
    width: 55%;
    float: left;
}
.deluxe{
    width: 55%;
    float: left;
}
.seis{
    width: 55%;
    float: left;
} 